<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan" style="color:#875A7B;">Key / value cache</h2>
            <h3 class="oe_slogan">A simple k/v cache using PostgreSQL as a storage.</h3>
          </div>
        <div class="oe_span6">
          <div class="oe_row_img oe_centered">
              <img class="oe_picture" src="icon.png"/>
          </div>
        </div>
    </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
    <h4 class="oe_slogan"><b>Features:</b></h4>
    <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
      <ul class="list-unstyled">

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          Automatic expiration.
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          Simple to use.
        </li>

      </ul>
    </div>

    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Support</h2>
        <div class="oe_span12">            
            <h4 class="oe_slogan">Bugs, feature requests</h4 class="oe_slogan">
            <p> For bugs and feature requests please visit 
                <strong><a href="https://gitlab.com/odooist/kv_cache/issues">Gitlab issues</a></strong>
                 or send email to
                <strong><a href="mailto:odooist@gmail.com">odooist@gmail.com</a></strong>.
            </p>
        </div>
    </div>
</section>
